<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <h1>
                <%= 'Welcome To Home Page' .toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aut, corporis totam commodi
                ratione,
                vel
                accusantium mollitia fugit dolorum, velit odit eum alias itaque! Eaque odio nisi amet obcaecati quae.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quaerat illo mollitia ipsam incidunt
                ullam
                doloribus nobis possimus. Nostrum corrupti quas ut illum consectetur dignissimos deserunt cupiditate
                totam
                aperiam odio.</p>
            <%- include('partials/footer') %>