<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        </head>
        <h2>The subreddit <%= subreddit %> Not Found!
        </h2>


        <%- include('partials/footer') %>